ex3.xml

<?xml version = "1.0"  encoding = "utf-8"?>
<!DOCTYPE student_catalog [
<!ELEMENT student_catalog (student+)>
<!ELEMENT student (name, address, marks, hobbies)>
<!ELEMENT name (fname, lname, mname)>
<!ELEMENT address (houseno, streetname, cityname, state)>
<!ELEMENT marks (#PCDATA)>
<!ELEMENT hobbies (#PCDATA)>
]>
<?xml-stylesheet type="text/css" href="ex3.css"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> swathi </xs:fname>
	<xs:lname> kundar </xs:lname>
	<xs:mname> S </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 101 </xs:houseno>
	<xs:streetname> Girija nivas </xs:streetname>
	<xs:cityname> Mangalore </xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 70 </xs:marks>
   <xs:hobbies> Singing</xs:hobbies>
  </xs:student>
</xs:student_catalog>
<xs:student_catalog>
 <xs:student>
   <xs:name> 
  	<xs:fname> Mythri </xs:fname>
	<xs:lname> salian</xs:lname>
	<xs:mname> R </xs:mname>
   </xs:name>
   <xs:address>
	<xs:houseno> 102 </xs:houseno>
	<xs:streetname> Vadiraja </xs:streetname>
	<xs:cityname>Udupi</xs:cityname>
	<xs:state> Karnataka </xs:state>
   </xs:address>
   <xs:marks> 90 </xs:marks>
   <xs:hobbies> Dancing </xs:hobbies>
  </xs:student>
</xs:student_catalog>
</xs:schema>